.mobile-navbar-btn {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.mobile-nav-icon[name="cross"] {
    display: none;
}

@media(max-width:768px) {
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100vh;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
        transition: all 0.3s linear;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        padding: 6rem 6rem;
    }

    .navbar ul {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 6rem;
    }

    .navlink {
        font-size: 2.2rem;
    }

    .reservation-btn {
        padding: 0;
        background: none;
    }

    .reservation-btn:hover {
        background: none;
    }

    .mobile-navbar-btn {
        display: block;
        z-index: 9999;
        border: 3px solid var(--white);
        color: var(--white);
        padding: 1rem 1rem;
        position: relative;
    }

    .mobile-nav-icon {
        font-size: 2rem;
    }

    .active .navbar {
        transform: translateX(0%);
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    .active .mobile-nav-icon[name="ham"] {
        display: none;
    }

    .active .mobile-nav-icon[name="cross"] {
        display: block;
    }
}